.img-iconos {
    background-image: url("vistas/iconos/bodega.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 250px; 
    text-align: center;
    padding-top: 45px;
  }

  .btn {
    background-color: aqua;
    border: 0px;
    padding: 15px;
    
  }