*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'FontAwesome', sans-serif;
    background-color: #bccdde;
}

.container-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.container-buttons a {
    width: 70px;
    height: 70px;
    display: block;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
}
